[submodule ".registry"]
	path = .registry
	url = https://github.com/grantmcdermott/grantmcdermott.r-universe.dev
	branch = HEAD
[submodule "altdoc"]
	path = altdoc
	url = https://github.com/etiennebacher/altdoc
	registered = false
[submodule "etwfe"]
	path = etwfe
	url = https://github.com/grantmcdermott/etwfe
[submodule "ggfixest"]
	path = ggfixest
	url = https://github.com/grantmcdermott/ggfixest
[submodule "lecturenotes"]
	path = lecturenotes
	url = https://github.com/grantmcdermott/lecturenotes
[submodule "lfe2fixest"]
	path = lfe2fixest
	url = https://github.com/grantmcdermott/lfe2fixest
[submodule "parttree"]
	path = parttree
	url = https://github.com/grantmcdermott/parttree
[submodule "ritest"]
	path = ritest
	url = https://github.com/grantmcdermott/ritest
[submodule "tinyplot"]
	path = tinyplot
	url = https://github.com/grantmcdermott/tinyplot
